/* ===== BODY (CENTRAL CONTAINER) ===== */

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    gap: var(--space-l);
}
.card, .card__post{
    border-radius: var(--br-default);
}
.card:nth-of-type(1) {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
.card__serie-img {
    height: 20vh;
    overflow: hidden;
}
.title--serie {
    background: linear-gradient(
        360deg, 
        #111111 10%,
        #11111100 90%);
    transform: translate(0%, -100%);
    color: var(--primary-500);
    font-size: 6rem;
    padding: var(--space-xl);
}
.card__serie-info {
    padding: var(--space-xxl);
    display: flex;
}
.info--serie, .info--buddy, .title--user, .info--comment{
    color: var(--background-800);
    font-weight: 900;
}
.info--comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.btn--outline_filter {
    margin-top: var(--space-xl);
    background-color: transparent;
    border: 3px solid var(--primary-500);
    border-radius: 10px;
    color: var(--primary-700);
    font-weight: 900;
}
.btn--outline_filter:first-of-type {
    margin-right: 2%;
}
.links__buddy {
    width: 130%;
    margin-left: var(--space-ultra-xl);
}
.icon {
    display: flex;
}
.icon__buddy {
    margin-right: var(--space-l);
    background-color: var(--gray-200);
    border: 4px solid var(--primary-500);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
}
.icon__buddy:last-of-type, .icon__chip:last-of-type {
    margin-right: 0;
}
.info--buddy {
    text-align: right;
    margin-top: var(--space-xl);
}

.card:nth-of-type(2) {
    box-shadow: 0 5px 3px 0 var(--primary-500);
}
.card__post {
    background-color: var(--primary-50);
    display: flex;
}
.card__post-img {
    border-radius: var(--br-default) 0 0 var(--br-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: var(--space-xl);
    background-color: var(--white);
}
/* LEGACY */
/* .card__post-img>.img-fit {
    border: 5px solid var(--primary-500);
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
} */
/* /LEGACY */
.img-user-post{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 5px solid var(--primary-500);
}
.card__post-img>.icon:last-of-type {
    width: 75%;
}
.icon__chip {
    margin-right: var(--space-s);
    background-color: var(--primary-500);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
}
.card__post-comment {
    padding: var(--space-xxl);
}
.card__post-comment>.info--comment {
    margin-bottom: var(--space-s);
}
.user--responsive {
    display: none;
}
/* ===== TABLET (810px) ===== */
@media screen and (max-width: 810px) {
    .card__post-img {
        border-radius: var(--br-default) 0 0 var(--br-default);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--space-xl);
        background-color: var(--white);
        width: 80%;
    }
    .card__post-img>.img-fit {
        border: 4px solid var(--primary-500);
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    .links__buddy {
        margin-left: var(--space-ultra-l);
        width: 190%;
    }
}
@media screen and (max-width: 700px) {
    .card__post-img {
        border-radius: var(--br-default) 0 0 var(--br-default);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--space-xl);
        background-color: var(--white);
        width: 155%;
    }
    .links__buddy {
        margin-left: var(--space-xxl);
        width: 250%;
    }
    .icon__buddy {
        margin-right: var(--space-m);
    }
}
/* ===== PHONE (480px) ===== */
@media screen and (max-width: 500px) {
    .container {
        display: block;
    }
    .card__serie-info {
        display: block;
    }
    .info--serie {
        margin-bottom: var(--space-xxl);
        text-align: right;
    }
    .text--serie {
        text-align: left;
    }
    .links__buddy {
        margin-left: 0;
    }
    .icon {
        justify-content: end;
    }
    .icon__buddy {
        width: 15%;
    }

    .card__post {
        flex-direction: column;
    }
    .card__post-img {
        width: 100%;
        flex-direction: row;
        border-radius: var(--br-default) var(--br-default) 0 0;
    }
    /* LEGACY */
    /* .card__post-img>.img-fit {
        width: 20%;
    } */
    /* /LEGACY */
    .img-user-post{
        width: 20%;
    }
    .card__post-img>.title--user {
        display: none;
    }
   .user--responsive {
        display: flex;
        flex-direction: column;
    }
    .user--responsive>.icon {
        width: 50%;
    }
}