.form{
    display: flex;
    flex-flow: column;
    gap: var(--space-l);
    padding: var(--space-xxxl);
    width: 100%;
    min-height: 2rem;
    border-radius: var(--br-default);
    background-color: var(--primary-50);
}
.form--login{width: 35rem;}
.input-wrapper{
    width: 100%;
    position: relative;
    /* padding: var(--space-m); */
    text-align: center;
    /* border: 1px solid white; */
}
.input-wrapper--checkbox{
    padding: 0;
    text-align: left;
}
.input{
    position: relative;
    width: 100%;
    padding: var(--space-ml) var(--space-l);
    border-radius: var(--br-small);
    border: 0;
    outline: 1px solid var(--black);
    background-color: var(--primary-50);
    font-size: 1.6rem;
}
.input:focus{outline: 2px solid #4285f4;}
.input:focus+.label--text{
    font-size: 12px;
    top: -1rem;
    left: var(--space-ml);
    color: #4285f4;
    font-weight: bold;
}
.input:not(:placeholder-shown)+.label{
    font-size: 12px;
    top: -1rem;
    left: var(--space-ml);
}
.label{
    padding: 0 .25rem;
    background-color: var(--primary-50);
    transition: all 100ms ease-out;
    color: var(--body-text);
}
.label--text{
    position: absolute;
    top: var(--space-m);
    left: var(--space-m);
    pointer-events: none;
    color: var(--gray-700);
}
.label--checkbox{
    padding:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.label--checkbox>.checkbox{
    position: absolute;
    opacity: 0;
}
.visual-check{
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border: .2rem solid var(--primary-500);
    border-radius: var(--br-small);
    transition: all 150ms ease-out;
}
.visual-check::before{
    content: '';
    position: absolute;
    top: .4rem;
    left: .15rem;
    width: 1.2rem;
    height: .45rem;
    border-bottom: .25rem solid #fff;
    border-left: .25rem solid #fff;
    transform: scale(0) rotate(-45deg);
    transition: all 100ms ease-out;
}
.checkbox:checked~.visual-check::before{
    transform: scale(1) rotate(-45deg);
}
.checkbox:checked~.visual-check{
    background-color: var(--primary-500);
}

/* ===== TABLET (810px) ===== */
@media screen and (max-width: 810px) {
    
}

/* ===== PHONE (480px) ===== */
@media screen and (max-width: 480px) {
    
}