/*
    ===== Z-INDEX: =====
    1:
    2: 
    3:
    4:
    5:
*/
/* ===== IMPORTS ===== */
@import url('buttons.css');

/* ===== RESETS ===== */
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{font-size: 62.5%;}
body{font-size: 1.6rem}
a{text-decoration: none; color: var(--white);}
ul,ol{list-style: none;}
input,textarea,button,select,a{
    border: none;
    outline: none;
    overflow: hidden;
}
table, tr, td{
    border: none;
    border-collapse: collapse;
}
img{width: 100%;}
/* ===== ROOT ===== */
:root{
    /* === COLORS === */
    /* = GRAYSCALE = */
    --white: #fff;
    --almost-white: #f8f8f8;
    --eaeaea: #eaeaea;
    --gray-50: #e4e4e4;
    --gray-100: #d6d6d6;
    --gray-200: #c2c2c2;
    --gray-300: #a7a7a7;
    --gray-400: #999999;
    --gray-500: #7c7c7c;
    --gray-600: #686868;
    --gray-700: #707070;
    --gray-800: #5e5e5e;
    --gray-900: #4d4d4d;
    --almost-black: #141414;
    --black: #000;
    /* = REST = */
    --primary-50: #FCEDB8;
    --primary-500: #FFCD19;
    --primary-600: #ebb800;
    --secondary-50: #D0EBFF;
    --secondary-500: #1DD6FF;
    --secondary-600: #00c1ec;
    --background-50: #FFFFFF;
    --background-700: #292C35;
    --background-800: #17181D;
    --background-900: #000D16;
    /* = DEFAULT COLORS = */
    --header-bg: var(--background-900);
    --footer-bg: var(--background-900);
    --header-text: var(--white);
    --body-text: var(--black);
    --footer-text: var(--white);
    

    /* === SPACES (MARGINS, PADDINGS, GAPS) === */
    --space-xs: .25rem;
    --space-s: .5rem;
    --space-sm: .75rem;
    --space-m: 1rem;
    --space-ml: 1.25rem;
    --space-l: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 2.5rem;
    --space-xxxl: 3.5rem;
    --space-ultra-l: 5rem;
    --space-ultra-xl: 7.5rem;
    --space-ultra-xxl: 10rem;

    /* === WIDTHS === */
    --width-xs: 100rem;
    --width-s: 110rem;
    --width-default: 120rem;
    --width-l: 130rem;
    --width-xl: 140rem;
    --width-xxl: 150rem;
}
/* ===== GLOBAL CONTAINER ===== */
.global-container{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 
        auto   /*header*/
        1fr    /*body*/
        auto;  /*footer*/
}

/* ===== HEADER ===== */
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 10rem;
    padding: var(--space-l);
    color: var(--header-text);
    background-color: var(--header-bg);
}
.header__content{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: height 400ms ease-out;
    background-color: var(--header-bg);
}
.nav{
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    width: 20rem;
    /* border: 1px solid white; */
}
.nav__link{
    position: relative;
    overflow: visible;
}
.nav__link::after{
    content: '';
    position: absolute;
    bottom: -.8rem;
    left: 0;
    width: 0;
    height: .4rem;
    background-color: var(--header-text);
    border-radius: 1rem;
    transition: width 175ms ease-out;
}
.nav__link:hover::after, .nav__link:focus::after{
    width: 100%;
}
.nav--login{
    justify-content: flex-end;
}

/* HEADER RESPONSIVE STUFF */
/* trigger para menú desplegable */
.nav-toggle{
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.bar{
    position: absolute;
    width: 80%;
    height: .5rem;
    border-radius: .5rem;
    transition: all 250ms ease-out;
    background-color: var(--header-text);
}
.bar--top{top: 1rem;}
.bar--bottom{bottom: 1rem;}
.logo--pc{display: block;}
.logo--mbl{display: none;}

/* ===== BODY (CENTRAL CONTAINER) ===== */
.container{
    padding: var(--space-l);
    margin: 0 auto;
    color: var(--body-text);
    border: 1px solid;
}

/* ===== FOOTER ===== */
.footer{
    padding: var(--space-l);
    color: var(--footer-text);
    background-color: var(--footer-bg);
}
.footer__content{
    margin: 0 auto;
}
.login{
    width: 25rem;
    border: 1px solid white;
}

/* ===== TABLET (810px) ===== */
@media screen and (max-width: 810px) {
    /* ===== HEADER ===== */
    /* HEADER RESPONSIVE STUFF */
    .header{position: sticky; top:0;}
    .nav-toggle{display: flex; flex-flow: column; justify-content: center;}
    .logo--pc{display: none;}
    .logo--mbl{display: block;}
    .header__content{
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--space-ultra-l);
        height: 0;
        top: 10rem;
        left:0;
        position: fixed;
        overflow: hidden;
        border-top: 1px solid var(--gray-900);
        box-shadow: inset 0px 6px 10px 0px #000;
    }
    .nav--login, .nav--header{width: auto;}
    .nav--login{
        order: 1;
        justify-content: center;
        margin-top: var(--space-ultra-l);
    }
    .nav--header{
        order: 2;
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    .nav__link--header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: var(--space-l) 0;
        border-top: 1px solid var(--gray-900);
    }
    .nav__link--header:last-child{border-bottom: 1px solid var(--gray-900);}
}

/* ===== PHONE (480px) ===== */
@media screen and (max-width: 480px) {
    
}

/* ===== UTILITIES ===== */
.limit-width{max-width: var(--width-default);}
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.height-calc-100-header{
    height: calc(100vh - 10rem);
    height: calc(100dvh - 10rem);
}