/* ===== BODY (CENTRAL CONTAINER) ===== */
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: var(--space-l);
    padding: var(--space-l) 0;
}
.primary-profile-info{
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    justify-items: center;
    gap: var(--space-xl);
}
.info-no-propietario{
    width: 65%;
    grid-template-columns: 1fr;
}
.card {
    display: flex;
    width:100%;
    min-height: 30rem;
    max-height: 40rem;
    border-radius: var(--br-default);
    background-color: var(--primary-50);
    overflow: hidden;
}
.card--petitions{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-height: 30rem;
    gap: var(--space-l);
    padding: var(--space-l);
    overflow: hidden;
    overflow-y: scroll;

    background: rgb(0,153,255);
    background: linear-gradient(25deg, rgba(0,153,255,1) 0%, rgba(8,94,151,1) 25%, rgba(12,76,120,1) 46%, rgba(9,101,135,1) 72%, rgba(0,176,213,1) 100%); 

    background: rgb(0,234,255);
    background: linear-gradient(25deg, rgba(0,234,255,1) 0%, rgba(0,104,130,1) 25%, rgba(0,74,131,1) 46%, rgba(0,111,152,1) 72%, rgba(0,176,213,1) 100%); 
}
.petitions-title{
    font-size: 2.4rem;
    width: 100%;
    color: #FFF;
    text-align: center;
}
.petitions__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: var(--space-sm);
    overflow-y: scroll;
}
.petitions-empty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
}
.petition-card{
    /* width:100%;
    min-height: 12.5rem;
    height: 12.5rem;
    max-height: 30rem;
    border-radius: var(--br-default);
    background-color: var(--primary-50);
    overflow: hidden; */
    /* box-shadow: 2px 5px 3px 0 var(--primary-500); */

    /*----------- CAMBIOS ANABEL -----------*/
    width: 100%;
    min-height: 12.5rem;
    height: 12.5rem;
    max-height: 30rem;
    border-radius: var(--br-default);
    background-color: rgb(187, 242, 255);
    overflow: hidden;
    box-shadow: 0px 2px 2px 0 #035f6f;
}
.petition-card__info{
    /* display: flex;
    width: 100%;
    height: calc(100% - 4.25rem);
    padding: var(--space-m);
    gap: var(--space-m); */

    /*----------- CAMBIOS ANABEL -----------*/
    display: flex;
    width: 100%;
    height: calc(100% - 4.25rem);
    gap: var(--space-xl);
    padding: var(--space-sm);
}
.petition-card-img-wrapper{
    /* height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3px solid var(--primary-500);
    overflow: hidden; */

    /*----------- CAMBIOS ANABEL -----------*/
    height: 100%;
    aspect-ratio: 1 / 1;
    /* border: 3px solid #ecfbff; */
    border: 3px solid var(--secondary-700);
    border-radius: 50%;
    overflow: hidden;
}
.petition-card-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.petition-card-name>*{
    color: var(--almost-black);
}

.card__user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xxxl) var(--space-xxxl);
    border-radius: var(--br-default);
    background-color: var(--primary-10);
    width: 40%;
    min-width: 10rem;
}
.profile-img{
    width: 100%;
    /* margin: 0 auto; */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--primary-500);
}
.card__user-bio {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: var(--space-m);
}
.title--user, .info--user {
    color: var(--background-800);
    padding-bottom: 2%;
    font-weight: 900;
}
.info--user:first-of-type {color:var(--error-700)}
.card__user-info {
    padding: var(--space-xxl);
}
/* .button-card{
    height: 4rem;
} */
.buddy__footer-external-layer{
    position: relative;
    width: 100%;
    height: 4.25rem;
    overflow: hidden;
}
.buddy__footer-internal-layer{
    position: absolute;
    height: 200%;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all 250ms ease-out;
}
.buddy__footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 50%;
    background-color: var(--primary-500);
}



.carrusel-arrow {
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    width: 40px;
    height: 40px;
    text-align: center;
}
.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(30, 30, 30, 0.776);
}
.carrusel-prev {left:0;}
.carrusel-next {right:0;}

/*---------------------------------- TARJETA DE PETICIONES ----------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.petition {
    background-color: var(--primary-50);
    display: flex;
    flex-direction: row;
}
.card__user-body {
    display: flex;
    flex-direction: row;
    height: 10vh;
}
.title--petition {
    font-size: 2rem;
}
.info--petition {
    font-size: 1.5rem;
}

/*-------------------------------------------------------------------------------*/
.carousel {
    width: 100%;
    max-width: 100%;
    height: 25rem;
    /* display: flex;
    align-items: center;
    gap: var(--space-l); */
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
    align-items: center;
    justify-items: center;
    gap: var(--space-l);
    margin-top: var(--space-l);
}
.list {
    position: relative;
    display: flex;
    align-items: center;
    /* width: fit-content; */
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    /* max-width: 100%; */
    overflow: hidden;
}
.gallery {
    position: relative;
    top: 0;
    left: 0; 
    height: 100%;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.carrusel {
    position: relative;
    width: 20rem;
    padding-left: var(--space-l-plus);
    padding-right: var(--space-m);
    height: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.carrusel>div{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border:3px solid var(--primary-500);
    box-shadow: 0 0 3px  var(--primary-50);
    border-radius:var(--br-default);
    background-color: var(--almost-black);
    transition: 0.3s ease-in-out;
}
.title--carousel {
    width: 100%;
    max-width: 100%;
    font-size: 6rem;
    line-height: 100%;
}
.title--first-lane{
    font-size: 8rem;
}
.carrusel-arrow{
    background-color: var(--primary-500);
}
.carrusel-arrow:hover, .carrusel-arrow:focus{
    background-color:  var(--primary-50);
}

/* ===== EXTRA (1200px) ===== */
@media screen and (max-width: 1200px) {
    .list{
        width: 100%
    }
    .carousel {
        width: 100%;
        /* height: 35rem; */
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 20rem;
        gap: 0;
    }
    .carrusel {
        width: 15rem;
    }
    .title--carousel, .title--first-lane{
        text-align: center;
        font-size: 5rem;
        line-height: normal;
    }
}

/* ===== EXTRA (1000px) ===== */
@media screen and (max-width: 1000px) {
    .card{
        width: 80%;
    }
    .primary-profile-info{
        grid-template-columns: 1fr;
    }
    .info-no-propietario{
        width: 100%;
    }
}

/* ===== EXTRA (910px) ===== */
@media screen and (max-width: 910px) {
    .card__user-img{
        width: 35%;
    }
    .card__user-bio{
        width: 65%;
    }
}

/* ===== TABLET (810px) ===== */
@media screen and (max-width: 810px) {
    .card {
        width: 100%;
    }
    .card__user-img {
        padding: var(--space-xl);
    }
    .carousel__container {
        flex-direction: column;
    }
    .title--carousel, .title--first-lane{
        font-size: 4rem;
        line-height: normal;
    }
}

/* ===== EXTRA (550px) ===== */
@media screen and (max-width: 550px) {
    
}

/* ===== PHONE (480px) ===== */
@media screen and (max-width: 480px) {
    .main{
        padding: 0;
    }
    .card {
        flex-direction: column;
    }
    .card__user-img {
        padding: 0;
        width: 100%;
        height: 12.5rem;
    }
    .profile-img {
        border:none;
        border-radius: 0;
        width: 100%;
        height: 12.5rem;
        display: block;
    }
    .card__user-bio{
        width: 100%;
    }
    .carousel{
        margin-top: 0;
    }
    .img--carousel {
        width: 22%;
    }
    .img--carousel:last-of-type {
        display: none;
    }
}

/* ===== UTILITIES (SPECIFIC, DON'T MOVE IT FROM HERE) ===== */
.grid-col-3{grid-template-columns: repeat(3, 1fr);}
.grid-col-2{grid-template-columns: repeat(2, 1fr);}
.grid-col-1{grid-template-columns: 1fr;}
.subir{bottom: 0;}
.bajar{bottom: -100%;}